.navBar__container {
	display: flex;
	width: 100%;
	align-items: center;
}

.credentials__link {
	text-decoration: none;
	color: inherit;
}

.credentials__list {
	display: flex;
	column-gap: 2rem;
	list-style: none;
	margin-inline-start: auto;
}