:root {
	--primary-color: hsl(192, 83%, 30%);
	--secondary-color: hsl(29, 84%, 29%);

	--neutral-color-100: hsl(0, 0%, 100%);
	--neutral-color-300: hsl(0, 0%, 75%);
	--neutral-color-500: hsl(0, 0%, 50%);
	--neutral-color-700: hsl(0, 0%, 25%);
	--neutral-color-900: hsl(0, 0%, 0%);

	--shadow-base: 0 2px 6px rgba(0, 0, 0, 0.2);

	--ff-regular: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	--border-radius: 0.8rem;
	--padding-inline-container: 10rem;

	--transition-base: 300ms all cubic-bezier(0.98, -0.71, 0.02, 1.63);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	padding: 0.8rem 1rem;
	font-size: 1rem;
	font-family: var(--ff-regular);
	border-style: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: var(--transition-base);

	&:hover {
		scale: 1.2;
	}
}
