.hero__container > * {
	margin-block: 1rem;
}

.hero__maintitle {
	font-family: var(--mPlusRounded1c);
	font-size: 4rem;

	background-image: linear-gradient(45deg, var(--primary-color), var(--secondary-color)); 
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	
}

.hero__subtitle {
	font-family: var(--ff-regular);
	font-size: 2rem;
	font-weight: 600;
}
