.header {
	display: flex;
	height: 10rem;
}

.main {
	min-height: calc(100vh - 10rem); /* subtracts header height */
	row-gap: 2.5rem;

	& :nth-child(1) {
		font-size: 4rem;
	}
	& :nth-child(2) {
		font-size: 2rem;
	}
}
