.hero__container > * {
	margin-block: 1rem;
}

.hero__maintitle {
	font-family: var(--mPlusRounded1c);
	font-size: 4rem;
}

.hero__subtitle {
	font-family: var(--ff-regular);
	font-size: 2rem;
	font-weight: 600;
}
